@model Examiner.WEB.ViewModels.QuestionViewModel

<h2>Add Question</h2>
<form method="post" asp-controller="Teacher" asp-action="AddQuestionToTest">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="col-log-3">
        <label asp-for="QuestionText">Question text:</label>
    </div>
    <div class="col-log-3">
        <input asp-for="QuestionText" class="form-control" type="email" />
    </div>
    <br />

    <div class="col-log-3">
        <label asp-for="AnswerText">Answes</label>
    </div>
    <div class="col-log-3">
        <input asp-for="AnswerText" class="form-control" type="email" />
    </div>


    <div class="form-row">
        <div class="col-1">
            <button type="submit" class="btn btn-primary form-control">Create</button>
        </div>
    </div>
</form> 